.contenedor {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "logo logo quienessomos areasdepractica"
        "logo logo sistemadeautoproteccion contacto_index";
    gap: 1px;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Merriweather', serif;
        -webkit-animation: bounce-in-top 1.1s both;
        animation: bounce-in-top 1.1s both;
        &:hover {
            box-shadow: 0 0 50px white;
            transition: all 1s;
        }
    }

    .logo {
        grid-area: logo;
        background-color: $colorprincipal;

    }

    .quienessomos {
        grid-area: quienessomos;
        background-color: $colorsecundaria;

        .titulo {
            color: white;
            font-size: large;
        }
    }

    .sistemadeautoproteccion {
        grid-area: sistemadeautoproteccion;
        background-color: $colorsecundaria;

        .titulo {
            color: white;
            font-size: large;
        }


    }

    .areasdepractica {
        grid-area: areasdepractica;
        background-color: $colorsecundaria;

        .titulo {
            color: white;
            font-size: large;
        }


    }

    .contacto_index {
        grid-area: contacto_index;
        background-color: $colorsecundaria;

        .titulo {
            color: white;
            font-size: large;
        }


    }
    @for $menus from 1 through 5 {

        .menu_#{$menus} {
            animation-delay: $menus*0.3s;
        }
    }
}